.advantages {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.advantages__list {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-top: 58px;
    counter-reset: num;
    gap: 75px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;
  padding-bottom: 20px;

  font-family: $font-second;
  color: #444444;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item p {
  margin: 2px 4px;
}

/*.advantages__item p::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  z-index: -1;
}

.advantages__item--beneficial p::after {
  top: 100px;
}

.advantages__item--powder p::after {
  top: 178px;
}

.advantages__item--eating p::after {
  top: 255px;
}

.advantages__item--changes p::after {
  top: 335px;
}*/

.advantages__icon-container {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__icon {
  margin: auto;
}
