.advantages {
  padding-top: 18px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 44px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 67px;

    border: none;
  }
}

.advantages__list {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px 60px;
    padding-top: 71px;

    counter-reset: num;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-top: 70px;
  }
}

.advantages__item {
  position: relative;

  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;
  padding-bottom: 20px;

  font-family: $font-second;
  color: #444444;

  &:last-child {
    padding-bottom: 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(num);
      position: absolute;
      top: -12px;
      left: 110px;
      z-index: -1;

      margin: 0;

      font-size: 280px;
      line-height: 230px;
      font-family: $font-main;
      color: #f2f2f2;

      counter-increment: num;
    }
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-bottom: 60px;

    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__icon {
  position: relative;

  width: 60px;
  height: 60px;
  margin: auto;

  text-align: center;

  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin: 0 0 31px;
  }
}

.advantages__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;
  width: 30px;
  height: 32px;

  transform: translate(-50%, -50%);
}

.advantages__item p {
  padding-top: 3px;
  max-width: 260px;
  margin: 0;
  @media (min-width: $tablet-width) {
    padding-top: 0px;
  }
}
