.advantages {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.advantages__list {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-top: 58px;
    counter-reset: num;
    gap: 75px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  padding-bottom: 20px;

  font-family: $font-second;

  &:last-child {
    padding-bottom: 0;
  }
}
