.advantages {
  padding-top: 18px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 44px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 70px;
    border: none;
  }
}

.advantages__list {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-top: 71px;
    counter-reset: num;
    gap: 75px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;

    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;
  padding-bottom: 20px;

  font-family: $font-second;
  color: #444444;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-bottom: 60px;

    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__icon {
  width: 60px;
  height: 60px;
  margin: auto;
  position: relative;
  text-align: center;

  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-bottom: 31px;
  }
}

.advantages__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 30px;
  height: 32px;
}

.advantages__item p {
  margin: 0;
  max-width: 224px;
}

.advantages__item span {
  display: none;
  font-family: $font-main;
  font-size: 280px;
  line-height: 280px;
  color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: inline-block;
    position: absolute;
    z-index: -1;
  }
}

.advantages__item--beneficial span {
  top: 140px;
  left: 150px;

  @media (min-width: $desktop-width) {
    top: 160px;
    left: 120px;
  }
}

.advantages__item--powder span {
  top: 140px;
  left: 525px;

  @media (min-width: $desktop-width) {
    top: 160px;
    left: 440px;
  }
}

.advantages__item--eating span {
  top: 455px;
  left: 145px;

  @media (min-width: $desktop-width) {
    top: 160px;
    left: 760px;
  }
}

.advantages__item--changes span {
  top: 455px;
  left: 955px;

  @media (min-width: $desktop-width) {
    top: 160px;
    left: 1090px;
  }
}
