.button {
  padding: 7px 10px;

  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-white;
  background-color: #68b738;
  cursor: pointer;

  &--second {
    font-size: 14px;
    line-height: 18px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}
