.button {
  padding: 7px 10px;

  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-white;
  background-color: #68b738;

  &--second {
    font-size: 14px;
    line-height: 18px;
  }
}
