.container {
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 709px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 805px;
    padding: 0 110px;
  }
}
