.copyright__link {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 19px;
  font-family: $font-second;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: end;
    width: fit-content;
    margin-left: auto;
  }
}

.copyright__link svg {
  text-align: end;

  fill: #666666;

  @media (min-width: $tablet-width) {
    margin-left: 28px;
  }
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #68b738;
}

.copyright__text {
  margin: auto 0;
}
