.copyright__link {
  display: flex;
  justify-content: space-between;
  font-family: $font-second;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: $color-second;

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: fit-content;
    margin-left: auto;
    justify-content: end;
  }
}

.copyright__link svg {
  fill: #666666;
  text-align: end;

  @media (min-width: $tablet-width) {
    margin-left: 28px;
  }
}

.copyright__link:hover svg {
  fill: #68b738;
}

.copyright__text {
  margin: auto 0;
}
