.footer {
  background-color: #eaeaea;
}

.footer__contact {
  background-color: #ffffff;
}

.footer__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.footer__address {
  font-family: $font-second;
  line-height: 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-min-width) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
