.form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 78px;
  }
}

.form__fieldset {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 22px 20px;
  border: none;

  @media (min-width: 768px) {
    padding: 22px 67px 22px 70px;
  }

  @media (min-width: 1440px) {
    padding: 0;
  }

  &--submit {
    padding-bottom: 20px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 65px;
      align-items: baseline;
      padding-top: 43px;
      padding-bottom: 72px;
    }

    @media (min-width: 1440px) {
      padding-top: 50px;
      padding-bottom: 84px;
    }
  }
}

.form__group {
  &--check {
    display: grid;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 56px;
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 78px;
    }
  }

  &--contact {
    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 78px;
    }
  }

  &--radio {
    display: flex;
    flex-direction: column;
  }
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
}

.form__description {
  font-family: $font-second;
  line-height: 16px;
}

.form__input {
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__commit {
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
