.hero {
  &--form {
    @media (min-width: $tablet-width) {
      padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.hero__text {
  line-height: 14px;
  text-transform: uppercase;
}

.hero--form .hero__text {
  line-height: 18px;
}
