.live {
  padding: 25px 0 40px;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 43px 0 101px;
    background: rgb(234, 234, 234);
    background: linear-gradient(0deg, #eaeaea 42.5%, #ffffff 42.9%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 74px;
    background: #f2f2f2;
    background: linear-gradient(0deg, #f2f2f2 77%, #ffffff 77%);
  }
}

.live__container {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;
    gap: 10px 220px;
    grid-template-columns: 436px 1fr;
  }
}

.live__title {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 146px;
  }
}

.live__text {
  margin: 0;
  padding-bottom: 20px;

  font-family: $font-second;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
  }
}

.live__result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.live__result-item {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.live__result-value {
  padding: 15px 0 8px;

  font-size: 24px;
  line-height: 24px;
}

.live__result-description {
  font-family: $font-second;
  font-size: 12px;
  line-height: 12px;
}

.live__result-price {
  grid-column: 1/-1;

  text-align: center;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;

    text-align: end;
  }
}

.live__result-text {
  margin: 0;
}
