.live__container {
  background-color: #eaeaea;
}

.live__text {
  font-family: $font-second;
}

.live__result-value {
  font-size: 24px;
  line-height: 24px;
}

.live__result-description {
  font-family: $font-second;
  font-size: 12px;
  line-height: 12px;
}

.live__result-price {
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $desktop-min-width) {
  .live__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }

  .live__description {
    grid-column: span 2;
  }

  .live__slider {
    grid-column: span 2;
  }
}
