.live__container {
  background-color: #eaeaea;

  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;
    gap: 10px 220px;
    grid-template-columns: 436px 1fr;
  }
}

.live__text {
  font-family: $font-second;
}

.live__result-value {
  font-size: 24px;
  line-height: 24px;
}

.live__result-description {
  font-family: $font-second;
  font-size: 12px;
  line-height: 12px;
}

.live__result-price {
  line-height: 20px;
  text-transform: uppercase;
}
