.more__container {
  //padding-top: 30px;

  @media (min-width: $tablet-width) {
    //padding-top: 74px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 86px;

    align-items: start;
    //padding-top: 71px;
    gap: 30px 80px;
    grid-template-columns: 1fr auto;
  }
}

.more__list {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.more__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 14px 0 18px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 26px 37px 28px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    gap: 18px 23px;
    grid-template-columns: 1fr 150px 70px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    padding: 17px 0 14px;
    border: none;
    border-top: 1px solid #cdcdcd;
    grid-template-columns: 1fr 220px 60px 244px;
  }
}

.more__title {
  width: 100%;
  margin: 0;
  padding-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-grey-second;
}

.more__weight,
.more__price {
  line-height: 14px;
  color: $color-second;
}

.more__price {
  text-align: end;
  padding-bottom: 15px;
}

.more__button {
  width: 100%;
  grid-column: 1/-1;

  @media (min-width: $desktop-width) {
    grid-column: 4/-1;
  }
}

.more__bonus {
  padding: 35px 20px;

  @media (min-width: $tablet-width) {
    margin: 69px 0 76px;
    padding: 71px 124px 69px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 42px 43px 42px 41px;
  }
}

.more__text {
  margin: 0;

  text-align: center;

  font-family: $font-second;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
