.more {
  padding: 20px 0 35px;

  @media (min-width: $tablet-width) {
    //padding: 63px 0 76px;
    padding-top: 61px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 19px;
  }
}

.more__container {
  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 30px 80px;
    grid-template-columns: 1fr auto;
    align-items: start;
    padding-top: 42px;
  }
}

.more__list {
  margin-top: 33px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
}

.more__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px 0 19px;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 23px;
    grid-template-columns: 1fr 150px 70px;
    padding: 26px 37px 29px;

    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 220px 60px 244px;
    align-items: baseline;
    padding: 17px 0 14px;

    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.more__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.more__title {
  width: 100%;
  margin: 0 0 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.more__item span {
  font-size: 14px;
  line-height: 14px;
  font-family: $font-second;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.more__button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}

.more__bonus {
  padding: 172px 20px 26px;

  font-size: 16px;
  line-height: 20px;
  font-family: $font-second;
  text-align: center;
  color: #ffffff;

  background-image: url("../img/svg/icon-gift.svg"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/more-bonus-mobile.png");
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: top 59px center, top, top;
  background-size: 78px 80px, auto, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/svg/icon-gift.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/more-bonus-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    padding: 56px 20px 52px 60%;

    text-align: left;

    background-image: url("../img/svg/icon-gift.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/more-bonus-tablet.jpg");
    background-position: center left 80px, top, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/svg/icon-gift.svg"),
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/more-bonus-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 172px 20px 26px;

    text-align: center;

    background-image: url("../img/svg/icon-gift.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/more-bonus-desktop.png");
    background-position: top 59px center, top, top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/svg/icon-gift.svg"),
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/more-bonus-desktop@2x.png");
    }
  }
}
