.navigation__nav {
  position: relative;

  min-height: 65px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    align-items: center;
    min-height: 52px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    padding: 52px 0 20px;
  }
}

.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 38px;
  margin-left: 19px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.navigation__logo img {
  @media (min-width: $tablet-width) {
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.navigation__toggle {
  position: absolute;
  top: 23px;
  right: 20px;

  width: 24px;
  height: 18px;

  background: none;
  border: none;
  border-top: 2px solid #000000;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    top: 45%;

    transform: translateY(-50%);
  }

  &::after {
    bottom: 0;
  }
}

.navigation__nav--open .navigation__toggle {
  border-top: 2px solid transparent;

  &::before {
    transform: translateY(-50%) rotate(-46deg);
  }

  &::after {
    top: 45%;

    transform: translateY(-50%) rotate(46deg);
  }
}

.navigation__list {
  position: absolute;
  top: 65px;
  z-index: 10;

  display: none;
  flex-direction: column;
  width: 100%;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: static;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    background-color: transparent;
  }
}

.navigation__nav--open .navigation__list {
  display: flex;
}

.navigation__item {
  border-top: 1px solid #e6e6e6;

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-left: 39px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 35px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 36px;

    border: none;

    &--current {
      border-bottom: 2px solid #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
  }
}

.header--index .navigation__item--current {
  border-bottom: 2px solid #ffffff;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid #68b738;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}

.header--form .navigation__item {
  @media (min-width: $tablet-width) {
    margin-left: 34px;
  }
}

.navigation__link {
  display: block;
  padding: 23px 23px 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-main;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 18px 0 6px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 5px;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header--index .navigation__link {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;

    color: #ffffff;
  }
}

.no-js .navigation__toggle {
  @media (max-width: 767px) {
    display: none;
  }
}

.no-js .navigation__list {
  @media (max-width: 767px) {
    position: static;

    display: flex;
  }
}

.no-js .navigation__logo {
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
