.program {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.program__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.program__item {
  position: relative;
  margin-bottom: 19px;
  padding: 20px;

  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 67px 316px 58px 52px;

    min-height: 372px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 67px 30px 60px 53px;
    max-width: 570px;
  }
}

.program__item--slim svg {
  position: absolute;

  left: 21px;

  @media (min-width: $tablet-width) {
    transform: scale(4);
    left: 520px;
    top: 160px;
  }

  @media (min-width: $desktop-width) {
    transform: scale(2);
    left: 80px;
    top: 65px;
  }
}

.program__item--pro svg {
  position: absolute;

  left: 13px;

  @media (min-width: $tablet-width) {
    transform: scale(4);
    left: 510px;
    top: 168px;
  }

  @media (min-width: $desktop-width) {
    transform: scale(2);
    left: 67px;
    top: 68px;
  }
}

.program__title {
  margin-top: 11px;
  margin-bottom: 28px;
  padding-left: 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 23px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding-left: 162px;
  }
}

.program__item p {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;

  font-family: $font-second;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;

    font-size: 16px;
    line-height: 24px;

    color: #000000;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 15px;
  }
}

.program__link {
  position: relative;

  margin-top: auto;
  padding-right: 48px;

  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-right: 57px;

    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 45%;
    margin-left: 15px;

    width: 32px;
    height: 10px;

    background-image: url("../img/svg/link-arrow.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 10px;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }

  &:hover::after {
    background-image: url("../img/svg/link-arrow-hover.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px 10px;
  }

  &:focus {
    opacity: 0.3;
  }

  &:focus::after {
    background-image: url("../img/svg/link-arrow-hover.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px 10px;
  }
}
