*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  @include font-main;
  font-size: 14px;
  line-height: 18px;
  color: $font-color-main;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
