*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $font-color-main;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
