//fonts
$font-main: "Oswald", "Arial", sans-serif;
$font-second: "Lato", "Arial", sans-serif;

//font-color
$font-color-main: #000000;
$font-color-second: #444444;

$dark-grey: #111111;
$dark-grey-second: #222222;
$basic-white: #ffffff;
